In [4]:
#Importing libraries esp requests
import requests
import pandas as pd 
import matplotlib.pyplot as plt

#Listing all urls to call here
dayone = "https://api.covid19api.com/dayone/country/singapore"
todayglobalsummary = "https://api.covid19api.com/summary" 
sgdailycases = "https://api.covid19api.com/dayone/country/singapore/status/confirmed/live" 
sgrunningtotal = "https://api.covid19api.com/total/dayone/country/singapore/status/confirmed"

In [5]:
response = requests.request("GET", dayone)

singapore = pd.DataFrame(response.json())
singapore = singapore.set_index('Date')
#Returns Cumulative Total for Singapore for all cases each day beginning 01 Jan 2020 
singapore

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active
Date,,,,,,,,,,,,
2020-01-23T00:00:00Z,f1471591-909d-4c12-9e8b-26ce43fa3b4e,Singapore,SG,,,,1.35,103.82,1,0,0,1
2020-01-24T00:00:00Z,ad7bf6e4-27b0-46e9-bdc5-998458be7e6c,Singapore,SG,,,,1.35,103.82,3,0,0,3
2020-01-25T00:00:00Z,25bb999d-2443-4505-925d-27f21af143f6,Singapore,SG,,,,1.35,103.82,3,0,0,3
2020-01-26T00:00:00Z,297dd8d4-5417-4922-9ac9-a93b9902d4c8,Singapore,SG,,,,1.35,103.82,4,0,0,4
2020-01-27T00:00:00Z,bee2a95e-2cf6-46e5-b2a5-9f4b4cca9613,Singapore,SG,,,,1.35,103.82,5,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-02T00:00:00Z,aeeb6a9f-a249-4594-aa60-a7afbe735a9c,Singapore,SG,,,,1.35,103.82,267150,735,0,266415
2021-12-03T00:00:00Z,691eaac8-5a1c-46f0-b532-199607de0e93,Singapore,SG,,,,1.35,103.82,267916,744,0,267172
2021-12-04T00:00:00Z,a6c9290f-66cb-4395-972a-54d27c5acf05,Singapore,SG,,,,1.35,103.82,268659,746,0,267913
2021-12-05T00:00:00Z,3edd9b12-f2e3-413e-8625-a9661bf66388,Singapore,SG,,,,1.35,103.82,269211,759,0,268452
2021-12-06T00:00:00Z,086f497c-3945-482b-b14c-9e42f8fafca8,Singapore,SG,,,,1.35,103.82,269211,759,0,268452

In [8]:
response = requests.request("GET", sgdailycases)

singapore = pd.DataFrame(response.json())
singapore = singapore.set_index('Date')
#Returns Cumulative Total for Singapore for all cases each day beginning 01 Jan 2020 
singapore

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status
Date,,,,,,,,,
2020-01-23T00:00:00Z,Singapore,SG,,,,1.35,103.82,1,confirmed
2020-01-24T00:00:00Z,Singapore,SG,,,,1.35,103.82,3,confirmed
2020-01-25T00:00:00Z,Singapore,SG,,,,1.35,103.82,3,confirmed
2020-01-26T00:00:00Z,Singapore,SG,,,,1.35,103.82,4,confirmed
2020-01-27T00:00:00Z,Singapore,SG,,,,1.35,103.82,5,confirmed
...,...,...,...,...,...,...,...,...,...
2021-12-02T00:00:00Z,Singapore,SG,,,,1.35,103.82,267150,confirmed
2021-12-03T00:00:00Z,Singapore,SG,,,,1.35,103.82,267916,confirmed
2021-12-04T00:00:00Z,Singapore,SG,,,,1.35,103.82,268659,confirmed
2021-12-05T00:00:00Z,Singapore,SG,,,,1.35,103.82,269211,confirmed
2021-12-06T00:00:00Z,Singapore,SG,,,,1.35,103.82,269211,confirmed

In [10]:
response = requests.request("GET", sgrunningtotal)

singapore1 = pd.DataFrame(response.json())
singapore1 = singapore1.set_index('Date')
#Returns Cumulative Total for Singapore for all cases each day beginning 01 Jan 2020 
singapore1

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status
Date,,,,,,,,,
2020-01-23T00:00:00Z,Singapore,,,,,0,0,1,confirmed
2020-01-24T00:00:00Z,Singapore,,,,,0,0,3,confirmed
2020-01-25T00:00:00Z,Singapore,,,,,0,0,3,confirmed
2020-01-26T00:00:00Z,Singapore,,,,,0,0,4,confirmed
2020-01-27T00:00:00Z,Singapore,,,,,0,0,5,confirmed
...,...,...,...,...,...,...,...,...,...
2021-12-01T00:00:00Z,Singapore,,,,,0,0,266049,confirmed
2021-12-02T00:00:00Z,Singapore,,,,,0,0,267150,confirmed
2021-12-03T00:00:00Z,Singapore,,,,,0,0,267916,confirmed
2021-12-04T00:00:00Z,Singapore,,,,,0,0,268659,confirmed
2021-12-05T00:00:00Z,Singapore,,,,,0,0,269211,confirmed

In [11]:
singapore.equals(singapore1)

False

In [13]:
singapore['Cases'].equals(singapore1['Cases'])

False

In [12]:
pd.concat([singapore,singapore1]).drop_duplicates(keep=False)

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status
Date,,,,,,,,,
2020-01-23T00:00:00Z,Singapore,SG,,,,1.35,103.82,1,confirmed
2020-01-26T00:00:00Z,Singapore,SG,,,,1.35,103.82,4,confirmed
2020-01-27T00:00:00Z,Singapore,SG,,,,1.35,103.82,5,confirmed
2020-01-30T00:00:00Z,Singapore,SG,,,,1.35,103.82,10,confirmed
2020-01-31T00:00:00Z,Singapore,SG,,,,1.35,103.82,13,confirmed
...,...,...,...,...,...,...,...,...,...
2021-12-01T00:00:00Z,Singapore,,,,,0,0,266049,confirmed
2021-12-02T00:00:00Z,Singapore,,,,,0,0,267150,confirmed
2021-12-03T00:00:00Z,Singapore,,,,,0,0,267916,confirmed
2021-12-04T00:00:00Z,Singapore,,,,,0,0,268659,confirmed
2021-12-05T00:00:00Z,Singapore,,,,,0,0,269211,confirmed